<nav>
    <div class="site-title">
        <a href="/">
            <h1>Shopking</h1>
        </a>
        <p>shop on the go</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users/register">create user</a></li>
    </ul>
</nav>