<nav>
    <div class="site-title">
        <a href="/">
            <h1>art</h1>
        </a>
        <p>shop on the go</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/register">create user</a></li>
        <li><a href="/users/login">Login</a></li>
    </ul>
</nav>